@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("/paralax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-ul li {
  @apply border-2 my-2 drawer-overlay;
}

.animate-card {
  margin: 0 auto;
  padding: 2rem;
  width: 90%;
  background: #10121a;
  /* background: #1c1f2b; */
  text-align: center;
  border-radius: 10px;
  position: relative;
  height: 150px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animate-card::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px 40px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.animate-card::before {
  filter: blur(1.5rem);
  opacity: 0.3;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
